en.version = 5.0.0

locale = en_US

en_US.allophoneset = jar:/marytts/language/en_US/lexicon/allophones.en_US.xml
en_US.userdict = jar:/user-dictionaries/userdict-en_US.txt
en_US.lexicon = jar:/marytts/language/en_US/lexicon/cmudict.fst
en_US.lettertosound = jar:/marytts/language/en_US/lexicon/cmudict.lts

en_GB.allophoneset = jar:/marytts/language/en_GB/lexicon/allophones.en_GB.xml
en_GB.userdict = jar:/user-dictionaries/userdict-en_GB.txt
en_GB.lexicon = jar:/marytts/language/en_GB/lexicon/en_GB_lexicon.fst
en_GB.lettertosound = jar:/marytts/language/en_GB/lexicon/en_GB.lts

en.pos.model = jar:/marytts/language/en/tagger/en-pos-maxent.bin

en.prosody.paragraphdeclination = true
en.prosody.tobipredparams = jar:/marytts/language/en/prosody/tobipredparams_english.xml
en.prosody.accentPriorities = jar:/marytts/language/en/prosody/POSAccentPriorities.en.properties
en.prosody.syllableaccents = true

featuremanager.classes.list = marytts.features.FeatureProcessorManager(en_US)
