marybase.version = 4.3.0

requires = a-language  

modules.classes.list = marytts.modules.Synthesis \
        marytts.modules.TextToMaryXML \
        marytts.modules.JTokeniser \
        marytts.modules.DummyTokens2Words \
        marytts.modules.ProsodyGeneric \
        marytts.modules.PronunciationModel \
        marytts.modules.TargetFeatureLister \
	    marytts.modules.HalfPhoneTargetFeatureLister \
        marytts.modules.AcousticModeller \
        marytts.modules.RealisedAcoustparamsExtractor \
        marytts.modules.RealisedDurationsExtractor \
	    marytts.modules.HTSEngine \
        marytts.modules.MaryXMLToMbrola \
        marytts.modules.FreeTTS2FestivalUtt \
	    marytts.modules.JPhonemiser(en_US.) \
        marytts.language.en.Prosody \
        marytts.modules.SimplePhoneme2AP(en_US) \
        marytts.language.en.Utt2XMLTokensEn \
            marytts.language.en.Utt2XMLWordsEn \
            marytts.language.en.Utt2XMLPosEn \
            marytts.language.en.Utt2XMLSegmentsEn \
            marytts.language.en.XML2UttTokensEn \
            marytts.language.en.XML2UttWordsEn \
            marytts.language.en.XML2UttPosEn \
            marytts.language.en.PronunciationModel \
            marytts.modules.OpenNLPPosTagger(en,en.pos) \

synthesizers.classes.list = marytts.modules.synthesis.HMMSynthesizer

audioeffects.classes.list = marytts.signalproc.effects.VolumeEffect \
        marytts.signalproc.effects.VocalTractLinearScalerEffect \
        marytts.signalproc.effects.HMMF0ScaleEffect \
        marytts.signalproc.effects.HMMF0AddEffect \
        marytts.signalproc.effects.HMMDurationScaleEffect \

server = http
server.http.parallelthreads = 4
socket.port = 59125

modules.timeout = 60000

modules.poweronselftest = auto

cache = false
cache.file = /tmp/cache
cache.clearOnStart = true

mary.lowmemory = 20000000

maryxml.validate.modules = false

maryxml.validate.input = true

log.config = jar:/marytts/util/log4j.properties

texttomaryxml.splitintoparagraphs = true

synthesis.audiostore = auto

freetts.lexicon.preload = auto

fallback.prosody.tobipredparams = jar:/marytts/modules/prosody/tobipredparams.xml
fallback.prosody.accentPriorities  = jar:/marytts/modules/prosody/POSAccentPriorities.properties
fallback.prosody.paragraphdeclination = true
fallback.prosody.syllableaccents = true
debug.show.cost.graph = false

test.stream.existant = jar:/marytts/modules/ssml-to-mary.xsl
test.stream.nonexistant = jar:/bla/bla
